/* MonoRecipe/src/main/webapp/WEB-INF/css/index.css */
@charset "UTF-8";
@import url("init.css");


table {
	/* border-collapse: collapse; */
	border: 1px solid black;
	margin: 20px auto;
}

td {
	text-align: center;
	width: 23%;
	max-width: 220px;
	padding: 5px 10px;
	border: 1px solid black;
}

.dname {
	text-align: right;
}

.scoreDiv {
	text-align: right;
	color: #333;
	font-size: 14px;
}

.scoreDiv .dscore {
	margin-left: 5px;
}

.dishImg {
	max-width: 200px;
	object-fit: contain;
}
