/* MonoRecipe/src/main/webapp/WEB-INF/css/index.css */
@charset "UTF-8";
@import url("init.css");
.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    position: relative;
    transition: width 0.3s ease; /* 너비 변경 시 애니메이션 */
}

.carouselContainer {
    padding-top: 80px;
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.carouselImg {
    width: 100%;
    height: auto;
    display: none;
}

.carouselImg.active {
    display: block;
}



.carouselOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 50% 투명도 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.carouselText {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    max-height: 50px;
    padding: 10px;
    border-radius: 5px;
}

.searchBox input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 1rem;
    outline: none;
}

.searchIcon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}




/** <section> */        
main {
	padding: 0 !important;
	margin-bottom: 50px !important;
}

.dishSection {
    margin: 20px 0;
    
}

.dishCategory {
	padding: 0 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.categoryTitle {
	font-size: 1.4rem;
	font-weight: bold;
	margin-right: 10px;
}

.categoryAll {
	font-size: 0.8rem;
	color: #888;
}

.categoryAll:hover {
	text-decoration: underline;
}

.dishGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.dishItem {
    width: 22%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dishItem:hover {
    transform: scale(1.05); /* 5% 확대 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;	
}



.dishImgDiv {
	width: 100%;
	max-widh: 220px;
	aspect-ratio: 1; /* 정사각형 유지 */
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.dishImg {
    width: 100%;
    height: auto;
    aspect-ratio: 1; /* 정사각형 유지 */
    object-fit: contain;
}

.dishInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dname {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}

.scoreDiv {
	text-align: right;
    font-size: 0.9rem;
    color: #888;
}



/** 600px 이하일 때 적용될 스타일 */
@media (max-width: 600px) {
	#headerSearchInputMobile {
    display: none; /* 초기에는 숨김 */
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
}

#headerSearchInputMobile.visible {
    display: block; /* 보이도록 설정 */
}
	
    
	/* <div class="carouselContainer"> */
    .carouselContainer {
    	padding-top: 80px;
        max-height: 300px; 
    }
    
    .carouselImg {
        width: 100%;
        height: auto; 
    }

    .carouselOverlay {
    	display: flex;
    	flex-direction: column;
    	justify-content: flex-end;
        background: rgba(0, 0, 0, 0.5); 
        font-size: 1.2rem; 
        padding: 10px; 
        padding-bottom:40px;
    }
    
    .carouselText {
        font-size: 1.5rem; 
        margin: 10px 0;
        padding-top: 10px; 
    }
    
    .searchBox {
        width: 80%;
        height: 23%;
        padding: 8px;
    }

    .searchBox input {
        padding: 8px; 
        height: 18%;
        font-size: 0.9rem; 
    }

    .searchIcon {
        width: 20px; 
        height: 20px;
        margin: 0 8px;
    }
	
    
    /* <section class="dishSection"> */
    .dishItem {
        width: 46%;
    }

	.carousel-container {
		padding-top: 80px;
	}
}


