/* MonoRecipe/src/main/webapp/WEB-INF/css/index.css */
@charset "UTF-8";
@import url("init.css");


table {
	/* border-collapse: collapse; */
	border: 1px solid black;
	margin: 20px auto;
}

td {
   max-width: 220px;
   padding: 10px;
}

th, td {
		border: 1px solid black;
}
.dishImg {
	max-width: 200px;
	object-fit: contain;
}
