@charset "UTF-8";

@import url("init.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    line-height: 1.5; /* 줄 간격 조정 */
    color: #333; /* 글씨 색상 */
    font-weight: 500; /* 라벨을 조금 덜 굵게 표시 */
}

#container {
    max-width: 600px; /* 컨테이너 최대 너비 */
    margin: 50px auto; /* 컨테이너 수평 중앙 정렬 */
    padding: 20px; /* 내부 패딩 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    background-color: #f2f2f2; /* 배경색 */
    border: 1px solid #e0e0e0; /* 연한 경계선 */
    text-align: center; /* 컨테이너 내 텍스트 중앙 정렬 */
}

table {
    width: 100%; /* 테이블 너비 */
    border-collapse: collapse; /* 셀 간의 간격 제거 */
    margin: 20px 0; /* 테이블 위아래 여백 */
    white-space: pre-wrap; /* 줄 바꿈 적용 */
}

th, td {
    padding: 10px; /* 셀 패딩 */
    border: 1px solid #ddd; /* 연한 테두리 */
}

#pagingDiv {
    margin-top: 20px; /* 페이징 위쪽 여백 */
    text-align: center; /* 페이징 중앙 정렬 */
}

#currentPaging {
    color: red; /* 현재 페이지 텍스트 색상 */
    padding: 2px 3px; /* 패딩 */
    border-radius: 4px; /* 모서리 둥글게 */
    cursor: pointer; /* 포인터 커서 */
    font-weight: bold; /* 텍스트 굵게 */
    transition: transform 0.2s ease; /* 부드러운 크기 변화 */
    margin-left: 2%;
    margin-right: 2%;
}

#paging {
    color: black; /* 다른 페이지의 텍스트 색상 */
    padding: 8px 12px; /* 패딩 */
    border-radius: 4px; /* 모서리 둥글게 */
    cursor: pointer; /* 포인터 커서 */
    transition: transform 0.2s ease, font-size 0.2s ease; /* 부드러운 크기 변화 */
    margin-left: 1%;
    margin-right: 1%;
}

#paging  {
    padding: 10px; /* 셀 패딩을 다른 셀과 동일하게 설정 */
    border: 1px solid #ddd; /* 연한 테두리 */
    height: 10px; /* 높이 설정 (필요에 따라 조정) */
}

/* 미디어 쿼리: 600px 이하에서 아이디 열 숨기기 */
@media (max-width: 600px) {
    th:nth-child(2),
    td:nth-child(2) {
        display: none; /* 두 번째 열 숨기기 */
    }
}